pkgbase = arch-manwarn
	pkgdesc = arch-manwarn is a minimalist utility written in Rust that checks the Arch news RSS feed for manual intervention warnings and blocks your pacman upgrade or install if action is needed.
	pkgver = 0.5.1
	pkgrel = 1
	url = https://github.com/NLion74/arch-manwarn
	arch = x86_64
	license = UNLICENSE
	makedepends = rust
	makedepends = cargo
	depends = pacman
	depends = curl
	source = arch-manwarn-0.5.1.tar.gz::https://github.com/NLion74/arch-manwarn/archive/refs/tags/v0.5.1.tar.gz
	sha256sums = ec43e48cb03ddafc31a2118e3678312a75ccb3d8bbff470fb59fa0236ab0cbfd

pkgname = arch-manwarn
