pkgbase = arch-manwarn
	pkgdesc = Minimalist pacman hook to warn about Arch News manual interventions
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/NLion74/arch-manwarn
	arch = x86_64
	license = UNLICENSE
	makedepends = rust
	makedepends = cargo
	depends = pacman
	depends = curl
	source = arch-manwarn-0.4.0.tar.gz::https://github.com/NLion74/arch-manwarn/archive/refs/tags/v0.4.0.tar.gz
	sha256sums = 97854ba98ae2c9ce15e5b66d770f5341a9b09dab0b595afe59eaec8eba9e1e07

pkgname = arch-manwarn
